openapi: 3.0.1
info:
  title: Account Management Service
  description: TIKI's account management service —configure and provision access to
    the data platform
  license:
    name: MIT
    url: https://github.com/tiki/core-account-service/blob/main/LICENSE
  version: 2.6.2
servers:
- url: https://account.mytiki.com
paths:
  /api/latest/provider:
    post:
      tags:
      - Data Provider
      summary: Create Provider
      description: "Creates a new data provider, returning the configuration details"
      operationId: account-provider-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - default:
        - account:admin
  /api/latest/provider/{provider-id}/user:
    get:
      tags:
      - Data Provider
      summary: List Addresses
      description: Returns all registered device addresses matching the criteria
      operationId: account-provider-user-get
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUserAORsp'
      security:
      - default:
        - account:provider
    post:
      tags:
      - Data Provider
      summary: Register Address
      description: Register a new device address for an end user
      operationId: account-provider-user-post
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: body
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ProviderUserAOReq'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderUserAORsp'
      security:
      - default:
        - account:provider
    delete:
      tags:
      - Data Provider
      summary: Delete Addresses
      description: Permanently delete all device addresses matching the criteria
      operationId: account-provider-user-delete
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
      security:
      - default:
        - account:admin
  /api/latest/profile:
    get:
      tags:
      - Profile
      summary: Get Profile
      description: Returns your profile information
      operationId: account-profile-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAO'
      security:
      - default:
        - account:admin
    post:
      tags:
      - Profile
      summary: Update Profile
      description: Update your profile information — see request body for modification
        options
      operationId: account-profile-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAOUpdate'
        required: true
      responses:
        "202":
          description: Accepted
      security:
      - default:
        - account:admin
    delete:
      tags:
      - Profile
      summary: Delete Account
      description: Permanently delete your account — requires email confirmation
      operationId: account-profile-delete
      responses:
        "202":
          description: Accepted
      security:
      - default:
        - account:admin
  /api/latest/provider/{provider-id}:
    get:
      tags:
      - Data Provider
      summary: Get Provider
      description: Returns the configuration details for a data provider
      operationId: account-provider-get
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - default:
        - account:admin
    delete:
      tags:
      - Data Provider
      summary: Delete Provider
      description: Permanently delete a data provider — stops publishing of new data.
      operationId: account-provider-delete
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - default:
        - account:admin
components:
  schemas:
    ProviderAOReq:
      type: object
      properties:
        name:
          type: string
    ProviderAO:
      type: object
      properties:
        providerId:
          type: string
        name:
          type: string
        orgId:
          type: string
        pubKey:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ProviderUserAOReq:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        signature:
          type: string
    ProviderUserAORsp:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        created:
          type: string
          format: date-time
    ProfileAOUpdate:
      type: object
      properties:
        email:
          type: string
    ProfileAO:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
  securitySchemes:
    default:
      type: http
      scheme: bearer
