openapi: 3.0.1
info:
  title: L0 Auth
  description: Authorization Service
  license:
    name: MIT
    url: https://github.com/tiki/l0-auth/blob/main/LICENSE
  version: 2.2.2
servers:
- url: https://auth.l0.mytiki.com
paths:
  /api/latest/user/{userId}:
    post:
      tags:
      - ""
      summary: Update a User
      description: Update the authorized user's profile
      operationId: l0-auth-user-post
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfoAOUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoAO'
      security:
      - oauth:
        - auth
  /api/latest/otp/start:
    post:
      tags:
      - ""
      summary: Request OTP
      description: Start a new passwordless authorization flow
      operationId: l0-auth-otp-start-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpAOStartReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpAOStartRsp'
  /api/latest/org/{orgId}:
    get:
      tags:
      - ""
      summary: Get Org
      description: Get an org's profile
      operationId: l0-auth-org-get
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInfoAO'
      security:
      - oauth:
        - auth
    post:
      tags:
      - ""
      summary: Add to Org
      description: Add a user to an org
      operationId: l0-auth-org-post-user
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgInfoAOReq'
        required: true
      responses:
        "204":
          description: No Content
      security:
      - oauth:
        - auth
  /api/latest/oauth/token:
    post:
      tags:
      - ""
      summary: Token Grant
      description: Issue authorization token. Use password grant for OTP flow.
      operationId: l0-auth-oauth-token-post_1_1_1
      parameters:
      - name: grant_type
        in: query
        description: "(password, refresh_token, client_credentials)"
        required: true
        schema:
          type: string
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: username
        in: query
        required: true
        schema:
          type: string
      - name: password
        in: query
        required: true
        schema:
          type: string
      - name: client_id
        in: query
        required: true
        schema:
          type: string
      - name: subject_token
        in: query
        required: true
        schema:
          type: string
      - name: subject_token_type
        in: query
        required: true
        schema:
          type: string
      - name: refresh_token
        in: query
        required: true
        schema:
          type: string
      - name: client_secret
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AccessTokenResponse'
  /api/latest/oauth/revoke:
    post:
      tags:
      - ""
      summary: Revoke Token
      description: Revoke a refresh token.
      operationId: l0-auth-oauth-revoke-post
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - auth
  /api/latest/app:
    post:
      tags:
      - ""
      summary: Create App
      description: Create a new App
      operationId: l0-auth-app-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - auth
  /api/latest/app/{appId}:
    get:
      tags:
      - ""
      summary: Get App
      description: Get an app's profile
      operationId: l0-auth-app-get
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - auth
    post:
      tags:
      - ""
      summary: Update App
      description: Create a new App
      operationId: l0-auth-app-update
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - auth
    delete:
      tags:
      - ""
      summary: Delete App
      description: Delete an App
      operationId: l0-auth-app-delete
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - auth
  /api/latest/app/{appId}/key:
    get:
      tags:
      - ""
      summary: Get App Keys
      description: Get the API Keys for the given App (appId)
      operationId: l0-auth-api-keys-get
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyAO'
      security:
      - oauth:
        - auth
    post:
      tags:
      - ""
      summary: Create App Key
      description: Create a new API Key for the given App (appId)
      operationId: l0-auth-api-keys-create
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyAOCreate'
      security:
      - oauth:
        - auth
  /api/latest/user:
    get:
      tags:
      - ""
      summary: Get User
      description: Get the authorized user's profile
      operationId: l0-auth-user-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoAO'
      security:
      - oauth:
        - auth
  /api/latest/key/{keyId}:
    delete:
      tags:
      - ""
      summary: Delete Key
      description: Revoke (permanent!) an API Key
      operationId: l0-auth-api-keys-delete
      parameters:
      - name: keyId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - auth
components:
  schemas:
    UserInfoAOUpdate:
      type: object
      properties:
        email:
          type: string
    UserInfoAO:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    OtpAOStartReq:
      type: object
      properties:
        email:
          type: string
        notAnonymous:
          type: boolean
    OtpAOStartRsp:
      type: object
      properties:
        deviceId:
          type: string
        expires:
          type: string
          format: date-time
    OrgInfoAOReq:
      type: object
      properties:
        email:
          type: string
    OAuth2AccessToken:
      type: object
      properties:
        tokenValue:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        tokenType:
          $ref: '#/components/schemas/TokenType'
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
    OAuth2AccessTokenResponse:
      type: object
      properties:
        accessToken:
          $ref: '#/components/schemas/OAuth2AccessToken'
        refreshToken:
          $ref: '#/components/schemas/OAuth2RefreshToken'
        additionalParameters:
          type: object
          additionalProperties:
            type: object
    OAuth2RefreshToken:
      type: object
      properties:
        tokenValue:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    TokenType:
      type: object
      properties:
        value:
          type: string
    AppInfoAOReq:
      type: object
      properties:
        name:
          type: string
    AppInfoAO:
      type: object
      properties:
        appId:
          type: string
        name:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ApiKeyAOCreate:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        isPublic:
          type: boolean
        secret:
          type: string
        public:
          type: boolean
    OrgInfoAO:
      type: object
      properties:
        orgId:
          type: string
        billingId:
          type: string
        users:
          uniqueItems: true
          type: array
          items:
            type: string
        apps:
          uniqueItems: true
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ApiKeyAO:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        isPublic:
          type: boolean
        public:
          type: boolean
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.l0.mytiki.com/api/latest/oauth/token
          refreshUrl: https://auth.l0.mytiki.com/api/latest/oauth/token
          scopes:
            auth: this service
