openapi: 3.0.1
info:
  title: TIKI Account
  description: TIKI's account management service —configure and provision access to
    the data platform
  license:
    name: MIT
    url: https://github.com/tiki/tiki-account/blob/main/LICENSE
  version: 2.5.0
servers:
- url: https://mytiki.com/api/account
paths:
  /api/latest/user:
    get:
      tags:
      - ""
      summary: Get User
      description: Get the authorized user's profile
      operationId: account-user-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Update User
      description: Update the authorized User's profile
      operationId: account-user-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfoAOUpdate'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoAO'
      security:
      - oauth:
        - account:admin
  /api/latest/auth/token:
    post:
      tags:
      - ""
      summary: Grant Token
      description: Grant a new authorization token (with scope)
      operationId: account-oauth-token-post_1_1_1
      parameters:
      - name: grant_type
        in: query
        description: "(password, refresh_token, client_credentials, urn:ietf:params:oauth:grant-type:token-exchange)"
        required: true
        schema:
          type: string
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: username
        in: query
        required: false
        schema:
          type: string
      - name: password
        in: query
        required: false
        schema:
          type: string
      - name: client_id
        in: query
        required: false
        schema:
          type: string
      - name: subject_token
        in: query
        required: false
        schema:
          type: string
      - name: subject_token_type
        in: query
        required: false
        schema:
          type: string
      - name: refresh_token
        in: query
        required: false
        schema:
          type: string
      - name: client_secret
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AccessTokenResponse'
  /api/latest/auth/revoke:
    post:
      tags:
      - ""
      summary: Revoke Token
      description: Revoke a Refresh token.
      operationId: account-oauth-revoke-post
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/latest/auth/otp:
    post:
      tags:
      - ""
      summary: Request OTP
      description: Start a one-time password (email) authorization flow
      operationId: account-otp-start-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpAOStartReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpAOStartRsp'
  /api/latest/app:
    post:
      tags:
      - ""
      summary: Create App
      description: Create a new App
      operationId: account-app-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - account:admin
  /api/latest/app/{app-id}:
    get:
      tags:
      - ""
      summary: Get App
      description: Retrieve the details about an App
      operationId: account-app-get
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Update App
      description: Update the details for an App
      operationId: account-app-update
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - account:admin
    delete:
      tags:
      - ""
      summary: Delete App
      description: Permanently delete an App
      operationId: account-app-delete
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - account:admin
  /api/latest/app/{app-id}/key:
    get:
      tags:
      - ""
      summary: Get API Keys
      description: Retrieve the API Keys for an App
      operationId: account-api-keys-get
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Create API Key
      description: Create a new API Key for an App
      operationId: account-api-keys-create
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: isPublic
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyAOCreate'
      security:
      - oauth:
        - account:admin
    delete:
      tags:
      - ""
      summary: Delete Key
      description: Permanently revoke an API Key
      operationId: account-api-keys-delete
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: key-id
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - account:admin
  /api/latest/app/{app-id}/address:
    get:
      tags:
      - ""
      summary: Get Addresses
      description: Retrieve and filter registered addresses
      operationId: account-addr-reg-get
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddrRegAORsp'
      security:
      - oauth:
        - account:app
    post:
      tags:
      - ""
      summary: Register Address
      description: Register an end user address
      operationId: account-addr-reg-post
      parameters:
      - name: X-Customer-Authorization
        in: header
        required: false
        schema:
          type: string
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: body
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/AddrRegAOReq'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddrRegAORsp'
      security:
      - oauth:
        - account:app
    delete:
      tags:
      - ""
      summary: Delete Addresses
      description: Delete registered addresses
      operationId: account-addr-reg-delete
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
      security:
      - oauth:
        - account:admin
  /api/latest/org:
    get:
      tags:
      - ""
      summary: Get Org
      description: Retrieve the authorized User's Org details
      operationId: account-org-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInfoAO'
      security:
      - oauth:
        - account:admin
components:
  schemas:
    UserInfoAOUpdate:
      type: object
      properties:
        email:
          type: string
    UserInfoAO:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    OAuth2AccessToken:
      type: object
      properties:
        tokenValue:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        tokenType:
          $ref: '#/components/schemas/TokenType'
        scopes:
          uniqueItems: true
          type: array
          items:
            type: string
    OAuth2AccessTokenResponse:
      type: object
      properties:
        accessToken:
          $ref: '#/components/schemas/OAuth2AccessToken'
        refreshToken:
          $ref: '#/components/schemas/OAuth2RefreshToken'
        additionalParameters:
          type: object
          additionalProperties:
            type: object
    OAuth2RefreshToken:
      type: object
      properties:
        tokenValue:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    TokenType:
      type: object
      properties:
        value:
          type: string
    OtpAOStartReq:
      type: object
      properties:
        email:
          type: string
        notAnonymous:
          type: boolean
    OtpAOStartRsp:
      type: object
      properties:
        deviceId:
          type: string
        expires:
          type: string
          format: date-time
    AppInfoAOReq:
      type: object
      properties:
        name:
          type: string
    AppInfoAO:
      type: object
      properties:
        appId:
          type: string
        name:
          type: string
        orgId:
          type: string
        pubKey:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ApiKeyAOCreate:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        isPublic:
          type: boolean
        secret:
          type: string
        public:
          type: boolean
    AddrRegAOReq:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        signature:
          type: string
    AddrRegAORsp:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        created:
          type: string
          format: date-time
    OrgInfoAO:
      type: object
      properties:
        orgId:
          type: string
        billingId:
          type: string
        users:
          uniqueItems: true
          type: array
          items:
            type: string
        apps:
          uniqueItems: true
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ApiKeyAO:
      type: object
      properties:
        id:
          type: string
        created:
          type: string
          format: date-time
        isPublic:
          type: boolean
        public:
          type: boolean
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        password:
          tokenUrl: https://mytiki.com/api/account/oauth/token
          refreshUrl: https://mytiki.com/api/account/oauth/token
          scopes:
            auth: this service
