openapi: 3.0.1
info:
  title: Account Management
  description: TIKI's account management service —configure and provision access to
    the data platform
  license:
    name: MIT
    url: https://github.com/tiki/core-account-service/blob/main/LICENSE
  version: 2.9.20
servers:
- url: https://account.mytiki.com
paths:
  /api/latest/subscription:
    get:
      tags:
      - Managing Data Subscriptions
      summary: List Subscriptions
      description: Returns a filterable list of data subscriptions
      operationId: account-subscription-list
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionAO'
      security:
      - default:
        - account:admin
    post:
      tags:
      - Managing Data Subscriptions
      summary: Create Estimate
      description: Creates a new estimate for a data subscription
      operationId: account-subscription-estimate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAORsp'
      security:
      - default:
        - account:admin
  /api/latest/subscription/{subscription-id}/purchase:
    post:
      tags:
      - Managing Data Subscriptions
      summary: Purchase Subscription
      description: Converts an estimate into a paid data subscription.
      operationId: account-subscription-purchase
      parameters:
      - name: subscription-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAORsp'
      security:
      - default:
        - account:admin
  /api/latest/provider:
    post:
      tags:
      - Managing Data Providers
      summary: Create Provider
      description: "Creates a new data provider, returning the configuration details"
      operationId: account-provider-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - default:
        - account:admin
  /api/latest/provider/{provider-id}/user:
    get:
      tags:
      - Managing End Users
      summary: List Addresses
      description: Returns all registered device addresses matching the criteria
      operationId: account-provider-user-get
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUserAORsp'
      security:
      - default:
        - account:provider
    post:
      tags:
      - Managing End Users
      summary: Register Address
      description: Register a new device address for an end user
      operationId: account-provider-user-post
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderUserAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderUserAORsp'
      security:
      - default:
        - account:provider
    delete:
      tags:
      - Managing End Users
      summary: Delete Addresses
      description: Permanently delete all device addresses matching the criteria
      operationId: account-provider-user-delete
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
      security:
      - default:
        - account:admin
  /api/latest/profile:
    get:
      tags:
      - Profile
      summary: Get Profile
      description: Returns your profile information
      operationId: account-profile-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAO'
      security:
      - default:
        - account:admin
    post:
      tags:
      - Profile
      summary: Update Profile
      description: Update your profile information — see request body for modification
        options
      operationId: account-profile-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAOUpdate'
        required: true
      responses:
        "202":
          description: Accepted
      security:
      - default:
        - account:admin
    delete:
      tags:
      - Profile
      summary: Delete Account
      description: Permanently delete your account — requires email confirmation
      operationId: account-profile-delete
      responses:
        "202":
          description: Accepted
      security:
      - default:
        - account:admin
  /api/latest/cleanroom:
    get:
      tags:
      - Managing Cleanrooms
      summary: List Cleanrooms
      description: Returns the configuration details for a data cleanroom
      operationId: account-cleanroom-list
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleanroomAO'
      security:
      - default:
        - account:admin
    post:
      tags:
      - Managing Cleanrooms
      summary: Create Cleanroom
      description: "Creates a new data cleanroom, returning the configuration details"
      operationId: account-cleanroom-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CleanroomAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanroomAORsp'
      security:
      - default:
        - account:admin
  /api/latest/subscription/{subscription-id}:
    get:
      tags:
      - Managing Data Subscriptions
      summary: Get Subscription
      description: Returns the current status for a data subscription
      operationId: account-subscription-get
      parameters:
      - name: subscription-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionAORsp'
      security:
      - default:
        - account:admin
  /api/latest/provider/{provider-id}:
    get:
      tags:
      - Managing Data Providers
      summary: Get Provider
      description: Returns the configuration details for a data provider
      operationId: account-provider-get
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - default:
        - account:admin
    delete:
      tags:
      - Managing Data Providers
      summary: Delete Provider
      description: Permanently delete a data provider — stops publishing of new data.
      operationId: account-provider-delete
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - default:
        - account:admin
  /api/latest/cleanroom/{cleanroom-id}:
    get:
      tags:
      - Managing Cleanrooms
      summary: Get Cleanroom
      description: Returns the configuration details for a data cleanroom
      operationId: account-cleanroom-get
      parameters:
      - name: cleanroom-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanroomAORsp'
      security:
      - default:
        - account:admin
components:
  schemas:
    SubscriptionAOReq:
      type: object
      properties:
        name:
          type: string
        query:
          type: string
        cleanroomId:
          type: string
    EventAOBase:
      type: object
      properties:
        requestId:
          type: string
    EventAORspEventAOBase:
      type: object
      properties:
        requestId:
          type: string
        status:
          type: string
        type:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        result:
          $ref: '#/components/schemas/EventAOBase'
    SubscriptionAORsp:
      type: object
      properties:
        subscriptionId:
          type: string
        cleanroomId:
          type: string
        name:
          type: string
        status:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        query:
          type: string
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventAORspEventAOBase'
    ProviderAOReq:
      type: object
      properties:
        name:
          type: string
    ProviderAO:
      type: object
      properties:
        providerId:
          type: string
        name:
          type: string
        orgId:
          type: string
        pubKey:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ProviderUserAOReq:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        signature:
          type: string
    ProviderUserAORsp:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        created:
          type: string
          format: date-time
    ProfileAOUpdate:
      type: object
      properties:
        email:
          type: string
    CleanroomAOReq:
      type: object
      properties:
        description:
          type: string
        aws:
          type: string
    CleanroomAORsp:
      type: object
      properties:
        cleanroomId:
          type: string
        name:
          type: string
        description:
          type: string
        orgId:
          type: string
        aws:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventAORspEventAOBase'
    SubscriptionAO:
      type: object
      properties:
        subscriptionId:
          type: string
        cleanroomId:
          type: string
        name:
          type: string
        status:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    ProfileAO:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    CleanroomAO:
      type: object
      properties:
        cleanroomId:
          type: string
        name:
          type: string
        description:
          type: string
  securitySchemes:
    default:
      type: http
      scheme: bearer
x-readme:
  samples-languages:
  - shell
  - node
  - python
  - go
  - java
