openapi: 3.0.1
info:
  title: TIKI Account
  description: TIKI's account management service —configure and provision access to
    the data platform
  license:
    name: MIT
    url: https://github.com/tiki/tiki-account/blob/main/LICENSE
  version: 2.6.0
servers:
- url: https://mytiki.com/api/account
paths:
  /api/latest/provider:
    post:
      tags:
      - ""
      summary: Create App
      description: Create a new App
      operationId: account-app-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - oauth:
        - account:admin
  /api/latest/provider/{provider-id}:
    get:
      tags:
      - ""
      summary: Get App
      description: Retrieve the details about an App
      operationId: account-app-get
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Update App
      description: Update the details for an App
      operationId: account-app-update
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAO'
      security:
      - oauth:
        - account:admin
    delete:
      tags:
      - ""
      summary: Delete App
      description: Permanently delete an App
      operationId: account-app-delete
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - account:admin
  /api/latest/provider/{provider-id}/user:
    get:
      tags:
      - ""
      summary: Get Addresses
      description: Retrieve and filter registered addresses
      operationId: account-addr-reg-get
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUserAORsp'
      security:
      - oauth:
        - account:provider
    post:
      tags:
      - ""
      summary: Register Address
      description: Register an end user address
      operationId: account-addr-reg-post
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: body
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ProviderUserAOReq'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderUserAORsp'
      security:
      - oauth:
        - account:provider
    delete:
      tags:
      - ""
      summary: Delete Addresses
      description: Delete registered addresses
      operationId: account-addr-reg-delete
      parameters:
      - name: provider-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
      security:
      - oauth:
        - account:admin
  /api/latest/profile:
    get:
      tags:
      - ""
      summary: Get User
      description: Get the authorized user's profile
      operationId: account-user-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Update User
      description: Update the authorized User's profile
      operationId: account-user-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAOUpdate'
        required: true
      responses:
        "202":
          description: Accepted
      security:
      - oauth:
        - account:admin
    delete:
      tags:
      - ""
      summary: Delete User
      description: Delete the authorized user
      operationId: account-user-delete
      responses:
        "202":
          description: Accepted
      security:
      - oauth:
        - account:admin
components:
  schemas:
    ProviderAOReq:
      type: object
      properties:
        name:
          type: string
    ProviderAO:
      type: object
      properties:
        providerId:
          type: string
        name:
          type: string
        orgId:
          type: string
        pubKey:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    ProviderUserAOReq:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        signature:
          type: string
    ProviderUserAORsp:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        created:
          type: string
          format: date-time
    ProfileAOUpdate:
      type: object
      properties:
        email:
          type: string
    ProfileAO:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        password:
          tokenUrl: https://mytiki.com/api/account/oauth/token
          refreshUrl: https://mytiki.com/api/account/oauth/token
          scopes:
            auth: this service
