openapi: 3.0.1
info:
  title: TIKI Account
  description: TIKI's account management service —configure and provision access to
    the data platform
  license:
    name: MIT
    url: https://github.com/tiki/tiki-account/blob/main/LICENSE
  version: 2.6.0
servers:
- url: https://mytiki.com/api/account
paths:
  /api/latest/user:
    get:
      tags:
      - ""
      summary: Get User
      description: Get the authorized user's profile
      operationId: account-user-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Update User
      description: Update the authorized User's profile
      operationId: account-user-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInfoAOUpdate'
        required: true
      responses:
        "202":
          description: Accepted
      security:
      - oauth:
        - account:admin
    delete:
      tags:
      - ""
      summary: Delete User
      description: Delete the authorized user
      operationId: account-user-delete
      responses:
        "202":
          description: Accepted
      security:
      - oauth:
        - account:admin
  /api/latest/app:
    post:
      tags:
      - ""
      summary: Create App
      description: Create a new App
      operationId: account-app-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - account:admin
  /api/latest/app/{app-id}:
    get:
      tags:
      - ""
      summary: Get App
      description: Retrieve the details about an App
      operationId: account-app-get
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - account:admin
    post:
      tags:
      - ""
      summary: Update App
      description: Update the details for an App
      operationId: account-app-update
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoAOReq'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoAO'
      security:
      - oauth:
        - account:admin
    delete:
      tags:
      - ""
      summary: Delete App
      description: Permanently delete an App
      operationId: account-app-delete
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - oauth:
        - account:admin
  /api/latest/app/{app-id}/address:
    get:
      tags:
      - ""
      summary: Get Addresses
      description: Retrieve and filter registered addresses
      operationId: account-addr-reg-get
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddrRegAORsp'
      security:
      - oauth:
        - account:app
    post:
      tags:
      - ""
      summary: Register Address
      description: Register an end user address
      operationId: account-addr-reg-post
      parameters:
      - name: X-Customer-Authorization
        in: header
        required: false
        schema:
          type: string
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: body
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/AddrRegAOReq'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddrRegAORsp'
      security:
      - oauth:
        - account:app
    delete:
      tags:
      - ""
      summary: Delete Addresses
      description: Delete registered addresses
      operationId: account-addr-reg-delete
      parameters:
      - name: app-id
        in: path
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
      security:
      - oauth:
        - account:admin
  /api/latest/org:
    get:
      tags:
      - ""
      summary: Get Org
      description: Retrieve the authorized User's Org details
      operationId: account-org-get
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInfoAO'
      security:
      - oauth:
        - account:admin
components:
  schemas:
    UserInfoAOUpdate:
      type: object
      properties:
        email:
          type: string
    AppInfoAOReq:
      type: object
      properties:
        name:
          type: string
    AppInfoAO:
      type: object
      properties:
        appId:
          type: string
        name:
          type: string
        orgId:
          type: string
        pubKey:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    AddrRegAOReq:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        signature:
          type: string
    AddrRegAORsp:
      type: object
      properties:
        id:
          type: string
        address:
          type: string
        pubKey:
          type: string
        created:
          type: string
          format: date-time
    UserInfoAO:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        orgId:
          type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
    OrgInfoAO:
      type: object
      properties:
        orgId:
          type: string
        billingId:
          type: string
        users:
          uniqueItems: true
          type: array
          items:
            type: string
        apps:
          uniqueItems: true
          type: array
          items:
            type: string
        modified:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        password:
          tokenUrl: https://mytiki.com/api/account/oauth/token
          refreshUrl: https://mytiki.com/api/account/oauth/token
          scopes:
            auth: this service
