{{{OTP}}}

This one-time password expires in 30 minutes. Please login or simply ignore this email if you've changed your mind.

Open this link to log in:
https://account.mytiki.com/pages/otp?code={{{OTP}}}

Tiki inc. | 1814 Hayes Street, Nashville, TN 37203
