We received a request to delete your account.

This request expires in 30 minutes. Please confirm the request or simply ignore this email if you've changed your mind.

Open this link to confirm the request:
https://account.mytiki.com/api/latest/confirm?token={{{CONFIRMATION_TOKEN}}}

Tiki inc. | 1814 Hayes Street, Nashville, TN 37203
